html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: #7e1769;
  background: -webkit-linear-gradient(left, #00a7e1, #7f0091, #ff007f, #ff322f, #ffe800, #00a94e);
  background: -moz-linear-gradient(left, #00a7e1, #7f0091, #ff007f, #ff322f, #ffe800, #00a94e);
  background: -o-linear-gradient(left, #00a7e1, #7f0091, #ff007f, #ff322f, #ffe800, #00a94e);
  background: -ms-linear-gradient(left, #00a7e1, #7f0091, #ff007f, #ff322f, #ffe800, #00a94e);
  background: linear-gradient(to right, #00a7e1, #7f0091, #ff007f, #ff322f, #ffe800, #00a94e);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #fff;
  font-family: sans-serif;
}
body:after {
  background-image: -webkit-radial-gradient(circle closest-side at center center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 250%);
  background-image: -moz-radial-gradient(circle closest-side at center center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 250%);
  background-image: -o-radial-gradient(circle closest-side at center center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 250%);
  background-image: -ms-radial-gradient(circle closest-side at center center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 250%);
  background-image: radial-gradient(circle closest-side at center center, rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 250%);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: -1;
}
#body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#header,
#footer {
  background: #008000;
  padding: 2px 10px;
  background: #1a468c;
  -webkit-box-shadow: 0 0 7px #28d9f8;
  box-shadow: 0 0 7px #28d9f8;
  font-family: "BebasNeue", sans-serif;
}
#header {
  font-size: 1.2em;
  text-shadow: 0 0 3px #28d9f8;
}
#footer {
  font-style: italic;
}
#content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
}
.column {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 200px;
}
.column-title {
  font-family: "BebasNeue", sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.column-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.participants {
  background: rgba(255,230,109,0.61);
  border: 2px solid #ffcb00;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.rooms {
  background: rgba(255,255,255,0.4);
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.column-container ul {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
.column-container ul.bottom-buttons {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding-bottom: 10px;
}
.column-container ul.bottom-buttons li {
  margin-bottom: 0;
  color: #c6c6c6;
}
.column-container ul.bottom-buttons li:hover {
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
  color: #fff;
  -webkit-transition: box-shadow 0.5s, color 0.5s;
  -moz-transition: box-shadow 0.5s, color 0.5s;
  -o-transition: box-shadow 0.5s, color 0.5s;
  -ms-transition: box-shadow 0.5s, color 0.5s;
  transition: box-shadow 0.5s, color 0.5s;
}
.column-container li {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px 10px;
  padding: 4px;
  border-bottom: 2px solid rgba(0,0,0,0);
  border-top: 2px solid rgba(0,0,0,0);
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.column-container.rooms li {
  background: #005ac8;
}
.column-container.rooms li.joinable:hover {
  -webkit-box-shadow: 0 0 5px #28d9f8;
  box-shadow: 0 0 5px #28d9f8;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.column-container.rooms li.joinable:after {
  font-size: small;
  font-style: italic;
  content: 'Join';
  position: absolute;
  right: 3px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  color: #28d9f8;
}
.column-container.rooms li.joinable:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.column-container.participants li {
  background: #856a00;
}
.column-container.participants .clients-list li {
  text-align: left;
  padding-left: 5px;
}
.column-container.participants li.ready:after {
  color: #00e01b;
  text-shadow: 0 0 2px #000;
  font-size: small;
  font-style: italic;
  content: 'Ready';
  float: right;
}
.column-container.participants li.not-ready:after {
  font-size: small;
  font-style: italic;
  content: 'Not Ready';
  float: right;
  color: #c6c6c6;
}
.selected-room {
  border-bottom: 2px solid #ffcb00 !important;
  border-top: 2px solid #ffcb00 !important;
}
.selected-room:after {
  font-family: 'FontAwesome';
  display: inline-block;
  content: '\f053';
  position: absolute;
  right: -12px;
  color: #ffcb00;
}
#info-row {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
#info-row ul {
  list-style: none;
  margin-left: 10px;
}
#info-row li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 2em;
  position: relative;
}
#info-row .edit {
  position: absolute;
  right: 0px;
}
#info-row .name,
#info-row .room {
  font-weight: bold;
  color: #ffcb00;
}
#info-row .editable {
  cursor: pointer;
}
#info-row .editable:hover {
  color: #ffcb00;
  border-bottom: 1px solid #ffcb00;
}
#info-row .info-title {
  font-family: "BebasNeue", sans-serif;
  font-style: italic;
  margin-right: 1em;
}
.scale0 {
  -webkit-transform: rotateY(90deg) !important;
  -moz-transform: rotateY(90deg) !important;
  -o-transform: rotateY(90deg) !important;
  -ms-transform: rotateY(90deg) !important;
  transform: rotateY(90deg) !important;
  -webkit-transition: -webkit-transform 20s;
  -moz-transition: -moz-transform 20s;
  -o-transition: -o-transform 20s;
  -ms-transition: -ms-transform 20s;
  transition: transform 20s;
}
